[2020-11-04 22:28] hgputnam opened #1 "Can we turn off spell check?"
Doing the documentation we use lots of non-english invented words (pwd, cwd, ls, etc) that will not pass the spell checker. Can that be turned off?

[2020-11-06 04:09] HenrikBengtsson commented on #1
Instead, add the "unknown" words to the [`docs/WORDLIST`](https://github.com/UCSF-CBI/c4/blob/master/docs/WORDLIST).

If you install R and the required packages as explained in the [README](https://github.com/UCSF-CBI/c4/blob/master/README.md), you can also check it locally:

[code]

OTH, I should probably updated the spell checker to use `aspell` or something since it's easier to install.

[2020-11-06 04:25] HenrikBengtsson commented on #1
I've added the misisng words

[2020-11-06 16:23] hgputnam commented on #1
I managed to reverse engineer `make check` enough to get the r spelling package running on my vm where I like to do the git updates. Is the dictionary file something I can check out and update with git so that the spell check would pass on my local vm and on github?

[2020-11-06 16:24] hgputnam commented on #1
Oh OK I see, do that with docs/WORDLIST. Ok that should work.

[2020-11-06 16:24] #1 closed, assigned to nobody

[2020-11-10 00:25] hgputnam opened #2 "For AFTER your talk and when you have a few moments..."
I think if I were a member of the C4 Users team I ought to be able to promote myself to 'maintainer' (based on reading the gripping github docs...) Whenever you have a spare moment can you add me to that group?

[2020-11-16 18:18] jakewendt opened #3 "EGA downloader Tunnel connection failed"
Moved to c4-help

[2020-11-30 16:06] #3 closed, assigned to nobody

[2020-12-16 22:28] HenrikBengtsson opened #4 "Did my wynton -> c4 edits got undone?"
@hgputnam asked:

You can use `git blame` to see when something changed.  You can also do this on the GitHub webpage;

1. Go to the file you wanna look at, e.g. https://github.com/UCSF-CBI/c4/blob/master/docs/about/specs.md

2. Click the 'Blame' button, which will take you to https://github.com/UCSF-CBI/c4/blame/master/docs/about/specs.md

3. Go to the line or lines you're interested in, e.g. http

[2020-12-16 22:28] hgputnam opened #5 "Mistakenly reverted password change page to static"
I forgot the variables were working and made howto->password change static. I don't know enough github to roll back, etc.

[2020-12-16 22:29] hgputnam opened #6 "Need help with python and R pages."
I am unqualified to edit the python and R pages. They look right but I wouldn't know the difference.

[2020-12-16 22:29] hgputnam opened #7 "Some files have reverted back to wynton verbiage."
It looks like a bunch of old stuff crept back in to docs that I had previously completed. specs.md for instance now says wynton everywhere instead of c4. Pretty sure I had changed all that but, again, don't know enough github to look at what changed & when...

[2020-12-16 22:30] hgputnam opened #8 "BeeGFS Totals not accurate"
Beegfs storage numbers are inaccurate. Not sure where those variables are set. Should be

/c4/home = 196TiB
/c4/scratch = 240 TiB

[2020-12-16 22:31] #2 closed, assigned to nobody

[2020-12-16 22:32] hgputnam commented on #4
I must not have committed them. I guess I will have to start over and check them all.

[2020-12-16 22:32] #4 closed, assigned to nobody

[2020-12-16 22:40] HenrikBengtsson opened #9 "How to update data for specs.md?"
@hgputnam asked:

If you look at the underlying Markdown for this page (https://ucsf-cbi.github.io/c4/about/specs.html), i.e. https://raw.githubusercontent.com/UCSF-CBI/c4/master/docs/about/specs.md, you'll see:

[code]

That `{{ ... }}` syntax is pre-compiler syntax which pulls in data from a YAML tree:

[code]

The full `site` YAML tree contains more than this.  The data are pulled in from a few

[2020-12-16 22:40] #7 closed, assigned to nobody

[2020-12-16 22:41] HenrikBengtsson commented on #8
I just answered this in Issue #8 that I created myself

[2020-12-16 22:41] #8 closed, assigned to nobody

[2020-12-16 22:44] HenrikBengtsson commented on #5
You want to undo https://github.com/UCSF-CBI/c4/commit/7480f53306927c7ff56909e2e74500b868bf3cb3#diff-cefb98c23654185569b0654bd9189520b2e688a0ed1dd3499502c6734efc48fd?

[2020-12-16 22:47] hgputnam commented on #9
Got it, thanks.

[2020-12-16 22:47] #9 closed, assigned to nobody

[2020-12-16 22:50] hgputnam commented on #5
Let me just put the variables back in and re-commit. I changed a bunch of other stuff too...

[2020-12-16 22:54] HenrikBengtsson commented on #6
I can update those.

PS. Lots of that output is dynamically generated so that the Python/R output can be kept up-to-date automatically with little manual intervention.  I doing this as a test/prototype to see if it is helpful - it could turn out that it's just too much work. If so, I'll roll it back to basic cut'n'pasted Markdown info.

[2020-12-16 23:00] hgputnam commented on #5
Fixed. Thanks @HenrikBengtsson

[2020-12-16 23:00] #5 closed, assigned to nobody

[2020-12-16 23:20] hgputnam commented on #6
Thanks, I'm sure to find more stuff I don't know much about. Let me know next time you teach an R class (for Dummies hopefully). I will definitely sign up...

[2020-12-21 18:42] hgputnam opened #10 "Parallel vs. Arry job question"
I am writing up scheduler->sge-envars.md

What is the diifference between an array and parallel job? Trying to translate nslots, etc to slurm-ese...

[2020-12-21 19:54] hgputnam commented on #10
sge-envars.md is probably going to need some work. According to our friends at Stanford, NSLOTS is equivalent to SLURM_NPROCS but I do not know if the document makes sense as written with R and python examples...

https://srcc.stanford.edu/sge-slurm-conversion

[2020-12-21 22:52] hgputnam opened #11 "Scheduler docs done as best as I am able."
@HenrikBengtsson  these pages really need review. I had to leave out entire sections on array jobs and MPI because I am not at all familiar with these...

[2020-12-21 22:53] hgputnam commented on #11
Talking about the scheduler folder....

[2020-12-22 22:11] hgputnam opened #12 "Need help with software-repositories.md"
[code]

I have no clue...

[2020-12-22 22:35] hgputnam opened #13 "FAQ query"
@HenrikBengtsson Do we want to leave in the "For QB3 migrants...." verbiage?
I am tempted to just copy/paste some other HPC site's FAQ since I am not sure what kind of stuff may come up...

[2020-12-22 22:56] HenrikBengtsson commented on #13
I can clean out the obvious parts.

I think a safer strategy is to update the FAQ as well go, i.e. start with an as clean slate as possible and then we add entries as they're asked.

[2020-12-22 23:02] hgputnam commented on #13
Ok, I will put in some really obvious squeue, scancel etc.

[2020-12-22 23:02] #13 closed, assigned to nobody

[2020-12-22 23:03] HenrikBengtsson opened #14 "Use 'alice' everywhere"
@hgputnam, I just updated `make check` to scan for our personal usernames in the Markdown files.  This means that Github Actions should now pick such mistakes up and send an email to the one who committed the mistake.  For example, GA now reports on things such as https://github.com/UCSF-CBI/c4/runs/1597628094?check_suite_focus=true#step:3:37;

[code]

Make sure you update to `hgputnam` to `alice`

[2020-12-22 23:05] hgputnam commented on #14
Yeah, I've been trying to do that as I go but seem to have missed a couple. Can you add a david to that test so I can use a different test user? Don't want to mess up yours...

[2020-12-22 23:06] HenrikBengtsson opened #15 "Use 'Slurm' everywhere - not 'SLURM'"

[2020-12-22 23:10] HenrikBengtsson commented on #15
I've fixed all instances of 'SLURM' to 'Slurm'.

@hgputnam, I let you close this one to confirm you known going forward.

[2020-12-22 23:11] hgputnam commented on #15
Got it.

[2020-12-22 23:11] #15 closed, assigned to hgputnam

[2020-12-22 23:12] hgputnam opened #16 "Merge failing on my local repo"
[code]

How do I find the conflicts?

[2020-12-22 23:41] HenrikBengtsson commented on #16
It happened because I edited `docs/about/join.md` and then committed and pushed, while you've been editing the same original version that I edited in between.  If you open `docs/about/join.md` in the editor, you'll find "merge-conflict" sections of format:

[code]

You need to manually fix what you want within those until you have a "good" document again.  After you've edited the CONFLICT:ed file(

[2020-12-22 23:43] HenrikBengtsson commented on #16
I'll hold back for a couple of hours - won't do more edits until you're done for today.

[2020-12-22 23:46] HenrikBengtsson opened #17 "BASH: $(date +%s) instead of legacy `date +%s`"
I suspect you've got some of the examples for the Slurm docs/website.  Let's use the Bash standard:

[code]

rather than the dated:

[code]

I can fix this later; I just wanted to make you aware of the `$(...)` syntax, cf. https://github.com/koalaman/shellcheck/wiki/SC2006

[2020-12-23 17:30] hgputnam commented on #16
I think I've completely wedged myself:
[code]
I should probably delete my repo and start over, the changes in question are very minor.

[2020-12-23 17:33] hgputnam commented on #16
Oh wat a sec, I missed the -a ..

[2020-12-23 17:35] hgputnam commented on #16
OK, I *think* it's OK? I hope I did not mess up the master...

[2020-12-23 17:35] HenrikBengtsson commented on #16
The first rule of Fight Club is ... whatever you do never ever do a `git push --force`.  Everything else is allowed.

[2020-12-23 17:37] hgputnam commented on #16
OK, I will keep that in mind. This is probably a good time to ask what we need to do in order to get the docs site published? Recognizing we will be continuously improving it....

[2020-12-23 17:38] HenrikBengtsson commented on #16
Don't see anything in https://github.com/UCSF-CBI/c4/commits/master  - did you forgot to push?

[2020-12-23 17:39] hgputnam commented on #16
Yep, I just did so...

[2020-12-23 17:41] hgputnam commented on #16
Ugh, and also frogot the make check. Let me fix the usernames... I have to do something for Dave Q for an hour or so but I will get back to it.

[2020-12-23 17:46] HenrikBengtsson commented on #16
Looks good to me.

As you might have noticed, git managed to auto-merge lots of things, i.e. both you and I worked on the same files at the same time and it managed to merge our edits in most places.  It's only where we edited the same lines where it struggles.  Then it reports it as a merge conflict and you have to resolve it manually.  (There are also options for accepted what's already availabl

[2020-12-23 17:46] #16 closed, assigned to nobody

[2020-12-23 20:50] hgputnam commented on #17
Sorry, the back tick thing goes back to my IRIX days... I will use the $() approach...

[2020-12-23 20:51] hgputnam commented on #14
NVR, mind I see you want alice to be consistent in the docs...

[2020-12-23 20:51] #14 closed, assigned to hgputnam

[2020-12-23 20:52] HenrikBengtsson commented on #17
Absolute no worries; I only switch over fairly recently myself

[2020-12-23 20:54] hgputnam opened #18 "Documentation todos."
@HenrikBengtsson what do we need to do for the documentation site before we release it to the wild? I've looked through it all a couple of times and seems OK but I don't know anything.... Feel free to assign me issues, I will not edit any more until I hear from you.

[2020-12-28 18:21] #10 closed, assigned to nobody

[2020-12-28 19:48] HenrikBengtsson commented on #11
Hey, be light on that close button. I haven't reviewed yet.

[2020-12-28 19:49] HenrikBengtsson commented on #10
What was the resolution on this?

[2020-12-28 19:55] hgputnam commented on #11
Sorry, my OCD got the better of me...

[2020-12-28 19:56] hgputnam commented on #10
Oh, that was part of the python/R stuff I wasn't comfortable doing. The solution was you taking it on and it looks like it was all done

[2020-12-28 20:35] HenrikBengtsson commented on #10
Ah, I see ... this was about Section 'Environment variables in different languages' in https://ucsf-cbi.github.io/c4/scheduler/sge-envvars.html.

[2020-12-28 20:46] HenrikBengtsson opened #19 "More stray personal information"
I've updated the checks to also detect:

[code]

[2020-12-28 20:48] HenrikBengtsson opened #20 "Tidy source code"
Please make sure to align source-code comments, e.g. in https://ucsf-cbi.github.io/c4/scheduler/sge-envvars.html:

[code]

[2020-12-28 20:49] HenrikBengtsson opened #21 "Subscribe to this issue tracker"
@hgputnam, add yourself as a 'Watcher' to this repos so you get notifications on new issues.

[2020-12-28 20:57] HenrikBengtsson commented on #17
Found these remaining cases:

[code]

[2020-12-28 21:11] HenrikBengtsson opened #22 "Don't use absolute paths in job scripts"
In order for scripts to be able to run anywhere without having to edit them, it's important to avoid assumptions about folder structures and never use absolute paths.

If paths are required, paths _relative_ to the current working directory is much better, e.g. `cp data/some_file.txt "$TMPDIR"`.

If absolute paths are required, then use paths relative to user's home directory, e.g.  `cp ~/data/som

[2020-12-28 21:29] hgputnam commented on #19
replaced 'harry.putnam' with 'alice.testuser'

[2020-12-28 21:34] HenrikBengtsson commented on #19
`alice.bobson@ucsf.edu` per https://ucsf-cbi.github.io/c4/scheduler/email-notifications.html

[2020-12-28 21:37] HenrikBengtsson commented on #19
Actually, I think it should be left it out all along, because it makes the job script include information for a specific person/user.  Imagine if another user copies this job script and the run it as-is - the original user will start getting email notifications for jobs they don't run.  ... and, yeah, there's lots of cut'n'paste and copying taking place without looking into the details what is cop

[2020-12-28 21:37] hgputnam commented on #20
Fixed - surprised at myself, that sort of thing normally bugs me no end...

[2020-12-28 21:38] HenrikBengtsson commented on #19
The best solution if we can configure Unix and/or Slurm to look infer the default email address from LDAP.

[2020-12-28 21:41] #20 closed, assigned to hgputnam

[2020-12-28 21:41] hgputnam commented on #19
Interesting, challenge accepted, let me mess around with that. I can think of an easy way to do that with bash + ldapsearch. Maybe we can put that in our prolog... I will check to see if there is a configurable option...

[2020-12-28 21:46] hgputnam commented on #21
Changed my watcher to 'all activity'

[2020-12-28 22:09] #21 closed, assigned to hgputnam

[2020-12-29 00:33] hgputnam commented on #17
Believe I got them all.`$ grep -F '=`' -r --include="*.md"` returns nothing.

[2020-12-29 00:34] hgputnam commented on #22
I removed from the job-summary page. If I see any more, I will take them out...

[2020-12-29 02:19] HenrikBengtsson opened #23 "Specs?"
@hgputnam, is the CPU info for 'c4-dev3' on https://ucsf-cbi.github.io/c4/about/specs.html correct:

[code]

[2020-12-29 02:37] HenrikBengtsson commented on #22
There's more in:

* [x] https://ucsf-cbi.github.io/c4/software/singularity.html

[2020-12-29 02:45] HenrikBengtsson opened #24 "Prompt for examples"
For example, in https://github.com/UCSF-CBI/c4/blob/master/docs/software/singularity.md, use:

[code]

where the hostname is configured globally, rather than using a hardcoded hostname as-is:

[code]

Also, make sure to use a prompt, often the full prompt where we illustrate an actual run on a devel node with output, etc.  For example, there's now

[code]

Those calls need to be prefixed with `[al

[2020-12-29 03:32] HenrikBengtsson commented on #12
The module software stacks are now on the website at https://ucsf-cbi.github.io/c4/software/software-repositories.html.

[2020-12-29 03:32] #12 closed, assigned to HenrikBengtsson

[2020-12-29 04:29] HenrikBengtsson opened #25 "Image assets"
The following files:

* [ ] docs/assets/ico/favicon.ico
* [ ] docs/assets/images/this_site.png

are for Wynton.

[2020-12-29 04:53] HenrikBengtsson opened #26 "Submit jobs: Important sections need edits"
I've un-commented several important sections on https://ucsf-cbi.github.io/c4/scheduler/submit-jobs.html:

* [x] Parallel processing (on a single machine)
* [x] Passing arguments to script
* [x] Interactive jobs
* [ ] MPI: Parallel processing via Hybrid MPI (multi-threaded multi-node MPI jobs)
* [x] Defaults

Except for the MPI section, I think the others should be online before going live.

[2020-12-29 04:58] HenrikBengtsson commented on #18
I've created individual issues.

[2020-12-29 04:58] #18 closed, assigned to nobody

[2020-12-29 05:00] HenrikBengtsson commented on #11
Ok, I see what you mean by having to leave it entire sections; I've added those back to #26 - they're needed

[2020-12-29 05:00] #11 closed, assigned to HenrikBengtsson

[2020-12-29 15:57] HenrikBengtsson commented on #24
I've updated `make check-usernames` to detect hardcoded prompts.  It now reports on the following cases:

[code]

These should be using one of:

* `[alice@{{ site.login.name }} `
* `[alice@{{ site.devel.name }} `

[2020-12-29 16:19] HenrikBengtsson opened #27 "SGE->Slurm mistakes"
I'm using this issue as a scratch book for mistakes spotted:

* https://ucsf-cbi.github.io/c4/scheduler/using-local-scratch.html refers to `NSLOTS`
   - [x] update `make check-leftovers` to detect `NSLOTS`

[2020-12-29 16:32] HenrikBengtsson opened #28 "Improve job summary example"
The example on https://ucsf-cbi.github.io/c4/scheduler/job-summary.html should be improved;

[code]

* [ ] Bash: `echo` should double quote output strings
* [ ] Doesn't `samtools` acknowledge `TMPDIR`, if set?  Most software does that.
* [ ] We shouldn't write directly to HOME (`-o $HOME/temp/dummy.bam`) because we don't know how much random I/O the software generates.  We should write to `$TMPDIR

[2020-12-29 16:33] HenrikBengtsson opened #29 "Examples: Don't redirect stdout to file"
[code]

[2020-12-29 16:41] HenrikBengtsson commented on #29
Can't we just find the Slurm counterpart to the original SGE example, cf. https://wynton.ucsf.edu/hpc/scheduler/sge-envvars.html?

[2020-12-29 17:08] HenrikBengtsson opened #30 "Torque/PBS-to-Slurm table (was: Wynton's beta website for Slurm)"
Ah, I forgot that they've been preparing SGE->Slurm updates for the Wynton website.  It's at:

   https://ucsf-wynton.github.io/stage-wynton-hpc/

[2020-12-29 17:08] HenrikBengtsson commented on #29
https://ucsf-wynton.github.io/stage-wynton-hpc/slurm/slurm-envvars.html

[2020-12-29 21:25] hgputnam commented on #29
I just removed all the redirects for the existing page...

[2020-12-30 18:30] HenrikBengtsson opened #31 "Harmonize alice's email address"
# Issue

[code]

# Action

Introduce a "site" variable:

[code]

and use these two variables where applicable.

[2020-12-30 18:35] HenrikBengtsson opened #32 "Harmonize CLI options, e.g. we sometimes use -t ... and sometimes --time=..."
We mix and match long and short command-line options in the documentation and in the examples.  At a minimum, we should use only one of them in a single example, but it's probably better to stick to a standard throughout the website.  I favor the long format since it's more informative than the single letter versions.

[2020-12-30 18:37] HenrikBengtsson opened #33 "Slurm: Stdout and stderr log files"
On https://ucsf-cbi.github.io/c4/scheduler/submit-jobs.html there's a missing newline:
[code]

However, more importantly, we need to figure out:

1. What is the default, if nothing is specified?
2. Does stdout and stderr go to the same or different files by default?

[2020-12-30 22:23] HenrikBengtsson opened #34 "Ruby: How to get environment variable?"
At the bottom of https://ucsf-cbi.github.io/c4/scheduler/envvars.html we have Bash, Python, and R examples on how to get the numeric value of environment variable `SLURM_NPROCS`, e.g.

[code]

@AaronHechmer / @graft, as our Ruby experts, what's a corresponding example for Ruby?

[2020-12-30 23:25] graft commented on #34
You may use `ENV['VAR_NAME']`; it is a global constant.

On Wed, Dec 30, 2020, 2:24 PM Henrik Bengtsson <notifications@github.com>
wrote:

[2020-12-30 23:28] HenrikBengtsson commented on #34
Thxs. And how do you coerce that string into an integer and assign it to a local variable. I  know ~0.1% Ruby

[2020-12-30 23:29] hgputnam commented on #24
Think we got them all, make check-usernames is clean...

[2020-12-30 23:33] HenrikBengtsson commented on #34
...and print a message that includes that parsed integer?

[2020-12-30 23:37] hgputnam commented on #31
So, {{ site.demouser.name }} and {{ site.demouser.email }}?

[2020-12-30 23:48] HenrikBengtsson commented on #31
Not yet.  I'll fix. Self-assigned right now.

[2020-12-30 23:50] HenrikBengtsson commented on #24
Perfect.  But you'll I'll try my best to find more things 😛

[2020-12-31 00:05] hgputnam commented on #23
Not correct, now fixed.

[2020-12-31 00:05] #23 closed, assigned to hgputnam

[2020-12-31 00:11] hgputnam commented on #22
Are they OK in an output example?

[2020-12-31 00:15] HenrikBengtsson opened #35 "SPECS: GIT+SSH access from devel nodes?"
Inherited from Wynton, https://ucsf-cbi.github.io/c4/about/specs.html says:

* [x] @hgputnam, again, what's the SSH/internet access from the devel nodes?  Is the above (a) correct, (b) incorrect, or (c) needs to be updated?

[2020-12-31 00:54] HenrikBengtsson commented on #22
Yes.  That's out of our and user's control.

[2020-12-31 00:59] graft commented on #34
Sorry, I was sans keyboard earlier. A more complete example:

[code]

On Wed, Dec 30, 2020, 3:33 PM Henrik Bengtsson <notifications@github.com>
wrote:

[2020-12-31 01:11] HenrikBengtsson commented on #34
Thank you.  I've add it to https://ucsf-cbi.github.io/c4/scheduler/envvars.html.  Like for the other languages, I took the freedom the split it up into one line per "step" to make it more clear what is happening in each step.

[2020-12-31 01:11] #34 closed, assigned to nobody

[2020-12-31 01:41] HenrikBengtsson opened #36 "DOCS: Internet access on compute nodes"
1. The warning box on https://ucsf-cbi.github.io/c4/transfers/files-and-directories.html incorrectly claims that there's no internet access on compute nodes:

2. The overview table on https://ucsf-cbi.github.io/c4/about/specs.html also claims there's no internet access on compute notes.

[2020-12-31 01:46] HenrikBengtsson commented on #35
Closely related:

* [x] What about the following?

| Feature     | Login Nodes | Transfer Nodes          | Development Nodes | Compute Nodes |
| ---- | ---------- | ----------------------- | ------------ | ---- |
Outbound access | Within UCSF only: SSH and SFTP | HTTP/HTTPS, FTP/FTPS, SSH, SFTP, GIT+SSH | Via proxy: HTTP/HTTPS, GIT+SSH(*) | no
Network speed | 1 Gbps | 10 Gbps | 1 Gbps | 1,10 Gbps

[2020-12-31 02:12] HenrikBengtsson commented on #24
There are examples on https://ucsf-cbi.github.io/c4/software/singularity.html that totally lacks a prompt

[2020-12-31 02:36] HenrikBengtsson commented on #31
I've added the following to `_config.yml` (commit dcd56aa7):

[code]

and we're now using `{{ site.user.email }}` where we used to have an explicit email address.

I still haven't replace `alice` with `{{ site.user.name }}`.  I'll wait with that until I've figured how to auto generate a prompt variable - not sure if that can done.

[2020-12-31 02:36] #31 closed, assigned to HenrikBengtsson

[2020-12-31 03:03] AaronHechmer commented on #34
As somebody who grew up just south of Montreal, I'm delighted to see "sans" used here, a useful addition to English along with "faire du shopping," "faire du peepee" and "pamplemousse." However, sans keyboard? That leaves a number of open questions. I'm surprised you saw the thread at all! But you saw the thread and had no keyboard? This happened to me once when Xingyue was babe. I left the room f

[2020-12-31 18:01] HenrikBengtsson commented on #19
Resolved; remaining task is in https://github.com/UCSF-TI/C4-sysadm/issues/206

[2020-12-31 18:01] #19 closed, assigned to hgputnam

[2020-12-31 18:09] #17 closed, assigned to HenrikBengtsson

[2020-12-31 18:16] HenrikBengtsson commented on #33
From `man sbatch`:

[code]

In other words, if not specified, stdout and stderr is automatically outputted to the same file.

The annoying part is that the job name is _not_ part of the default filename, instead they default to `slurm-...`, which is contrary to how PBS and SGE does it.

[2020-12-31 18:29] HenrikBengtsson commented on #33
Hmm... `man sbatch` is ambigous and from a quick test (below), it looks like it could be simplified to:

[code]

[code]

In other words, the default `--error` is _not_ `"slurm-%j.out"` as the man page might imply.  This is handy and makes it easier in examples.

[2020-12-31 20:37] HenrikBengtsson commented on #32
I've harmonized everything for Slurm.  The only thing remaing would be `-j JOBID` and `-u USER` but I leave those for now.

[2020-12-31 20:37] #32 closed, assigned to nobody

[2020-12-31 20:38] HenrikBengtsson commented on #33
I've updated to use `--output=%x-%j.out`, when specified, and never `--error=...` since that the defaults to `--output`.

[2020-12-31 20:38] #33 closed, assigned to nobody

[2020-12-31 20:39] HenrikBengtsson commented on #29
All done;

[code]

[2020-12-31 20:39] #29 closed, assigned to nobody

[2021-01-02 19:22] HenrikBengtsson opened #37 "DOCS: Add separate page for interactive jobs"

[2021-01-04 14:52] hgputnam commented on #35
Dev nodes have public interfaces on the campus WAN. The Centos firewall on all 3 is blocking incoming ssh from all networks except 10.10.10/24 (aka the internal C4 network). The dev nodes are using the proxy server for http/s but this is only because we all have the proxy environmental variables. A savvy user could unset those and bypass the proxy. That would not work on compute nodes because they

[2021-01-04 14:55] hgputnam commented on #35
Login nodes have outbound access with no restrictions. Again, they have public interfaces so the only thing enforcing the use of the proxy server are environmental variables. Same is true for dt node.

[2021-01-04 14:57] hgputnam commented on #36
Do you want to lock down the compute nodes or change the documents?

[2021-01-04 14:59] HenrikBengtsson commented on #36
Change docs

[2021-01-04 21:54] hgputnam opened #38 "Non-urgent local jekyll problems"
I followed directions to install jekyll. I am using ubuntu desktop 20. For some reason I ended up with `/home/hputnam/.gem/ruby/2.7.0/bin/bundle` instead of 2.5.0. When I try to start the local site:
[code]
I don't know how to proceed...

[2021-01-04 22:18] hgputnam commented on #36
Docs updated

[2021-01-04 22:42] hgputnam commented on #35
Updated those docs.

[2021-01-04 23:03] #35 closed, assigned to hgputnam

[2021-01-04 23:03] HenrikBengtsson commented on #37
Done; https://ucsf-cbi.github.io/c4/scheduler/interactive-jobs.html

[2021-01-04 23:03] #37 closed, assigned to nobody

[2021-01-04 23:04] #36 closed, assigned to nobody

[2021-01-05 16:14] #27 closed, assigned to nobody

[2021-01-05 20:38] #25 closed, assigned to HenrikBengtsson

[2021-01-05 22:25] #28 closed, assigned to nobody

[2021-01-06 19:04] #24 closed, assigned to hgputnam

[2021-01-06 20:02] HenrikBengtsson commented on #6
I've re-generated the Python and R examples.

[2021-01-06 20:02] #6 closed, assigned to HenrikBengtsson

[2021-01-06 20:14] HenrikBengtsson opened #39 "BUG: srun <singularity.img>"
The example on https://ucsf-cbi.github.io/c4/software/singularity.html:

is most likely not valid.  Changing it to:

[code]

shows that it does not run on a compute node.

[2021-01-06 20:15] HenrikBengtsson commented on #39
I've removed that paragraphs for now.

[2021-01-06 20:24] HenrikBengtsson commented on #22
I think I've removed all absolute paths.

[2021-01-06 20:24] #22 closed, assigned to hgputnam

[2021-01-08 00:28] #39 closed, assigned to nobody

[2021-01-08 00:29] HenrikBengtsson commented on #39
No need for this, people can use a regular interactive job with a shell to do this (https://ucsf-cbi.github.io/c4/scheduler/interactive-jobs.html)

[2021-01-08 00:32] HenrikBengtsson commented on #26
The defaults (10 min, 2 GiB, SBATCH_PARTITIONS) is now mentioned on the website.

I'll close and deal with MPI when requests come in.

[2021-01-08 00:32] #26 closed, assigned to HenrikBengtsson

[2021-01-08 01:02] HenrikBengtsson commented on #30
I think our C4 webpage is a much better source for Slurm that the prototypical draft that Wynton has right now.  The only thing that I think we could borrow from is the SGE-to-Slurm table on:

  https://ucsf-wynton.github.io/stage-wynton-hpc/slurm/sge-slurm.html

which is adopted from Slurm's [Rosetta](https://slurm.schedmd.com/rosetta.pdf) PDF.  Though, we need a PBS-to-Slurm table.

[2021-01-12 19:19] HenrikBengtsson opened #40 "SPECS: Incorrect /scratch sizes in compute-node table"
https://ucsf-cbi.github.io/c4/about/specs.html says that c4-n12 and c4-n13 has 5.1 TiB /scratch, but:

[code]

[2021-01-14 00:55] hgputnam opened #41 "Updated specs for c4-n14-15"
Also update the 'totals' data page.

[2021-01-14 00:55] #41 closed, assigned to hgputnam

[2021-01-14 01:09] HenrikBengtsson commented on #41
And I've updated the `sinfo` example output on https://ucsf-cbi.github.io/c4/scheduler/partitions.html

[2021-01-14 02:00] #40 closed, assigned to nobody

[2021-01-14 03:37] HenrikBengtsson opened #42 "DOCS: Slurm --nodes=1 is required - it's not the default"
# Issue

If one doesn't specify `--nodes=1`, then the job might get allocated slots across multiple machines, e.g.

[code]

# Action

* [x] Update all examples to use an explicit `--nodes=1`
* [x] Mention it in the text
* [ ] Add a temporary warning panel (since we didn't mention `--nodes=1` from the beginning

[2021-01-15 03:52] HenrikBengtsson opened #43 "R: install.packages("arrow") fails with scl-devtoolset/{8,9} but not scl-devtools/7 or without any"
Failure:

[code]

Success:

[code]

[2021-01-15 20:41] hgputnam opened #44 "Pushed updated globus.md"
To include verbiage around guest collections.

[2021-01-15 20:42] #44 closed, assigned to hgputnam

[2021-01-26 05:30] HenrikBengtsson opened #45 "SINGULARITY: Example on binding ("mounting") host folders in container"
An an example to <https://ucsf-cbi.github.io/c4/software/singularity.html> with something like:

[code]

and

[code]

[2021-01-27 00:48] #45 closed, assigned to HenrikBengtsson

[2021-01-27 17:47] HenrikBengtsson commented on #43
This is most likely due to CPU type and supported CPU instructions because it works on some hosts but not others, namely c4-dev[1-3],c4-n11 (details below).  I'm diving into the details on this because we will certainly see and hear about similar problems from other software stacks.

<details>
For instance, if I trick R to install **arrow** with a modern GCC compiler without actually test loading

[2021-01-29 01:09] piaolabucsf opened #46 "Module command not found"
Hi! I just opened my account on the C4 cluster, and when I type "module load CBI", I got an error message as "module: command not found". May I ask how to fix this issue? Thanks!

[2021-01-29 01:54] HenrikBengtsson commented on #46
Hi.  I suspect you're trying this on a login or a data-transfer node.  **The module system is only available on the development and compute nodes**.  FWIW, this is mentioned in the 'Summary of Compute Environment' table on https://ucsf-cbi.github.io/c4/about/specs.html.

---

Looking at https://ucsf-cbi.github.io/c4/software/software-modules.html and https://ucsf-cbi.github.io/c4/software/software

[2021-01-29 16:54] HenrikBengtsson commented on #46
Oh... I just noticed that you posted this to the issue tracker of the website per se.  In the future, please use the dedicated tracker mentioned on https://ucsf-cbi.github.io/c4/support/ for support issues.

[2021-01-29 16:54] #46 closed, assigned to HenrikBengtsson

[2021-01-31 22:41] diazlab opened #47 "bad link"
the link for the C4 issues forum is listed as https://github.com/UCSF-CBI/c4-help/issues on https://ucsf-cbi.github.io/c4/support/index.html , but it should be https://github.com/UCSF-CBI/c4/issues

[2021-01-31 22:43] diazlab opened #48 "rsync proxy?"
I'm having trouble using rsync to transfer data from UC Davis

[aaron@c4-log1 slurm]$ rsync -avL slimsdata.genomecenter.ucdavis.edu::slims/3j4gzd3hjq .
bad response from proxy -- HTTP/1.1 403 Forbidden
rsync error: error in socket IO (code 10) at clientserver.c(125) [Receiver=3.1.2]

it works on my laptop, wget works too

[2021-02-01 02:18] HenrikBengtsson commented on #47
That link is actually correct.  We have a (private) issue tracker for Q&A, feature requests etc at <https://github.com/UCSF-CBI/c4-help/issues>.  The issue tracker you used here is for the website, which you can use for suggesting edits, typos, new example snippets, etc.

[2021-02-01 02:20] HenrikBengtsson opened #49 "This issue tracker is for the C4 website only - not for user Q&A"
This issue tracker is for the C4 website.

For support, Q&A, feature requests, and other help related to our C4 cluster, please use the issue tracker mentioned on https://ucsf-cbi.github.io/c4/support/

[2021-02-01 02:23] HenrikBengtsson commented on #47
@diazlab, I've sent you an invite to that issue tracker.  After you accept that you should have access.

[2021-02-01 02:23] #47 closed, assigned to nobody

[2021-02-01 02:24] HenrikBengtsson commented on #48
Please repost on https://github.com/UCSF-CBI/c4-help/issues.  Thxs.

[2021-02-01 02:24] #48 closed, assigned to nobody

[2021-02-01 02:30] #43 closed, assigned to nobody

[2021-02-01 02:48] diazlab commented on #47
Thanks!

[2021-02-19 02:54] EmilieB12 opened #50 "llvmlite installation error issue"
Hello,

I am trying to install pyscenic for scRNAseq analysis and having issue with installing one of the needed package "llvmlite". I was wondering if anybody had tried and came across that issue on the C4 cluster before.

Thanks!

Here is the error code:

 Running setup.py install for llvmlite ... error
    Complete output from command /usr/bin/python3 -u -c "import setuptools, tokenize;__file__

[2021-02-19 14:20] hgputnam commented on #50
Hi @EmilieB12 thanks for the post. This is actually the issue tracker for our web site only. Would you mind reposting here: https://github.com/UCSF-CBI/c4-help/issues. ?

Thanks.

[2021-02-24 16:59] EmilieB12 commented on #50
thanks, just did.

[2021-04-14 15:01] sookwah-yee opened #51 "C4 cluster"
Hi @HenrikBengtsson,
When I try to use the Development nodes this morning, I get something below.  What does this mean and if I did something wrong?

[syee12@c4-log1 ~]$ ssh c4-dev1
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@    WARNING: REMOTE HOST IDENTIFICATION HAS CHANGED!     @
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
IT IS POSSIBLE THAT SOMEONE IS DOING S

[2021-04-14 15:04] HenrikBengtsson commented on #51
Hi, this is the issue tracker for the website, not for user support.

Please see https://ucsf-cbi.github.io/c4/support/index.html for where to go.

[2021-04-14 15:04] #51 closed, assigned to nobody

[2021-04-14 15:06] #50 closed, assigned to nobody

[2021-04-28 18:57] hgputnam opened #52 "Proposed change to partitions page to reflect freecycle partition"
## The freecycle partition

The freecycle partition is made up of lab owned nodes whose free CPU cycles are generously being shared by the owners. Priority is always given to jobs submitted by the owning Lab. This means that if those nodes were to get low on resources while a freecycle job was running, new jobs submitted by the owning labs would pre-empt and cancel enough running jobs to free up r

[2021-04-28 18:58] hgputnam commented on #52
I was going to add the above to the bottom of the partitions page. I am struggling for the right verbiage (not an English major...)

[2021-05-13 18:46] hgputnam opened #53 "Numbered lists not being faithfully rendered"
For an example see https://github.com/UCSF-CBI/c4/blob/master/docs/transfers/amazons3.md

Specifically, line 73 starts with 2. in markdown and gets converted to 1. in html.

[2021-05-13 19:58] HenrikBengtsson commented on #53
Looking at https://ucsf-cbi.github.io/c4/transfers/amazons3.html, do you mean that the bullet points are now 1,2,3,1?  Maybe <https://stackoverflow.com/questions/18088955/markdown-continue-numbered-list#18089124> helps?

[2021-05-13 20:39] hgputnam commented on #53
I actually updated it so it would be in the previous version (I removed the numbered list an used sub-headings). In md it looked lile

1. some text

some other text

2. more text

But looking at the actual web page, both were 1.

[2021-05-13 20:54] HenrikBengtsson commented on #53
I'm not sure if you're aware, but Markdown is designed to recognize numbered lists and re-number them automagically so you don't have to, e.g. https://guides.github.com/features/mastering-markdown/:

[code]

This makes it easy to inject new entries without having to go through an manually renumber them.  So, what you're seeing is a feature - you just have to figure out how to write it so that Mark

[2021-05-13 20:58] hgputnam commented on #53
I guess I am not understanding something about the way github.io is presenting the md pages as html. When I used the 'Preview' feature on github, or the md preview on Code it looked as expected. Only when I viewed as an html page from our docs site: https://ucsf-cbi.github.io/c4/transfers/amazons3.html. did I see the 2 become a 1.

[2021-05-13 21:21] HenrikBengtsson commented on #53
It's because the Markdown syntax is not formally defined(*) - it grew out of an ad-hoc implementation, got super popular, and then different Markdown renderers made their own interpretations how it should work.  Many surprises come from how single and multiple newlines are handled and what they result in. GitHub Preview differ somewhat from Jekyll, which GitHub Pages and our website uses.

(*) Som

[2021-05-13 22:54] hgputnam commented on #53
Ah, OK. I thought I was making a syntax error or something. I guess we just have to publish and adjust as needed.

[2021-05-13 22:59] HenrikBengtsson commented on #53
But see the StackOverflow post I shared; it looks like it solves the problem you have.

[2021-05-19 19:36] #53 closed, assigned to nobody

[2021-05-26 17:58] hgputnam opened #54 "Please review freecycle and updated password docs"
https://github.com/UCSF-CBI/c4/blob/master/docs/scheduler/freecycle.md

https://github.com/UCSF-CBI/c4/blob/master/docs/howto/change-pwd.md

I will add a frecycle item to the dropdown when we are satisfied.

[2021-05-26 18:56] HenrikBengtsson commented on #54
Since we already set the default for `--mail-user`, do we really need to mention that there too?  If we do, we should just point to https://ucsf-cbi.github.io/c4/scheduler/email-notifications.html to minimize redundancy.

PS. FYI GitHub Actions now reports on spelling and Markdown errors

[2021-05-26 18:58] hgputnam commented on #54
My local make check quit working. Doesn't all that stuff come automatically when I do a pull?

[2021-05-26 18:59] HenrikBengtsson opened #55 "Password page"
On https://github.com/UCSF-CBI/c4/blob/master/docs/howto/change-pwd.md, there is:

* At least three of the following four categories:
  - Lowercase letter
  - Uppercase letter
  - Number
  - Special character.

Two comments:

* Replace 'Number' with 'Digit'
* What are the "special character"?  Adding a `among ! & # ...` would clarify this

[2021-05-26 19:04] hgputnam commented on #55
Updated.

[2021-05-26 19:07] HenrikBengtsson commented on #54
Yes, GitHub sends you email notifications when you `git push` and tests fails.

[2021-05-26 19:09] hgputnam commented on #54
Yeah, I get those. Before I was able to run make check on this repo on my Linux vm and it would catch that sort of thing before I pushed. It now complains there is no spelling module.

[2021-05-26 19:14] hgputnam commented on #54
I am having a hard time adding the special characters, Markdown is coughing up a hariball on them:
[code]

My md previewer shows them all together but the web page has a bunch of spaces just after the backtick. I tried escaping with \

[2021-05-26 19:15] HenrikBengtsson commented on #54
Now I understand. No, the `make check` toolchain is something you need to maintain locally yourself, cf. https://github.com/UCSF-CBI/c4/#readme

[2021-05-26 19:20] HenrikBengtsson commented on #54
Try by first adding a space between them, then use the 'Preview' here on GitHub to add them one by one to narrow in on the ones that causes problems.  The backtick is definitely one of them, so save that one for last. There are ways to escape all symbols in Markdown - it's just a matter of figuring out (I often have to search the interwebs for some of them)

[2021-05-26 19:23] hgputnam commented on #54
Putting them in a "code box" worked.

[2021-05-26 19:29] hgputnam commented on #54
Removed --mail-user section from freecycle.md

[2021-05-26 19:29] #54 closed, assigned to nobody

[2021-05-26 19:30] #55 closed, assigned to hgputnam

[2021-05-26 20:43] hgputnam commented on #52
Whoops, superseded by #54

[2021-05-26 20:43] #52 closed, assigned to nobody

[2021-05-27 18:36] #38 closed, assigned to nobody

[2021-05-27 21:48] hgputnam opened #56 "Local Jekyll Help"
I am pretty close to getting this working on my Ubuntu 20 vm. I am encountering an error, I searched online and a recommended [fix](https://talk.jekyllrb.com/t/error-your-site-could-not-be-built-no-repo-name-found/5688) is to add a repository: section to docs/_config.yml. @HenrikBengtsson is that an OK thing to do?

error:

[code]

[2021-05-27 21:55] HenrikBengtsson commented on #56
Feel free to try. If it works for you locally, hopefully, it'll also work elsewhere.  We can always rollback.  Make sure to do a minimal commit (i.e. no other edits), so we can rollback easily.

[2021-05-27 22:20] hgputnam commented on #56
That worked. Now you don't have to see all my typos...

[2021-05-27 22:20] #56 closed, assigned to nobody

[2021-11-04 15:06] hgputnam opened #57 "HOWTO -> work with r issue"
The article gives an example of library nlme. The example says we can find this in the /c4/software stack and we can for v4.03 which the example uses. It is not, however, available for 4.1.1:

[code]

Just a bit confusing for. the uninitiated. Can we pick a different library example that will exist for all R versions?

[2021-11-04 16:32] HenrikBengtsson commented on #57
I've updated https://www.c4.ucsf.edu/howto/r.html to use **datasets** instead.  The reason why **nlme** is no longer installed by default in R (>= 4.1.0), is that I decided to _not_ install the 10-20, so called, "recommended" packages globally.  Instead, each user will have to install those themself, which will often happen automatically in the background when other packages are installed.  The re

[2021-11-04 16:33] #57 closed, assigned to nobody

[2021-11-04 18:49] hgputnam commented on #57
It is a highly useful page, that was just an inconsistency I noticed. I am a total noob and have used it to succesfully install packages.

[2022-01-06 02:15] HenrikBengtsson opened #58 "STYLE: Avoid 'here' links"
FYI, avoid using 'here' links such as:

"… More information may be found [here]."

Instead, make sure they are informative when read out loud, or printed, e.g.

"More information may be found at [UCSF Backup Services]."

/cc @hgputnam

[2022-01-06 02:15] HenrikBengtsson commented on #58
FYI, I've fixed this on <https://www.c4.ucsf.edu/howto/storage-backup.html>.

[2022-01-06 02:16] HenrikBengtsson commented on #58
# Action

* [x] Add `make check` test for `[here]` links

[2022-01-06 02:18] HenrikBengtsson opened #59 "Merge ‘Home Directory Backups’ into 'Storage and Backup Policies' page?"
Page https://www.c4.ucsf.edu/howto/file-restores.html is quite short.  Could it be merged into https://www.c4.ucsf.edu/howto/storage-backup.html?

[2022-01-06 02:31] #58 closed, assigned to HenrikBengtsson

[2022-01-10 19:02] HenrikBengtsson opened #60 "Github Actions: URL checkers"
https://github.com/raviqqe/muffet

[2022-01-18 15:48] hgputnam opened #61 "Add array jobs section to Scheduler section."
I got some questions from a user wanting to learn how to submit array jobs. I have never done that and don't really know how, I realized that our docs site doesn't have any info for that. @HenrikBengtsson how fluent are you with array jobs? I will teach myself how to use them and write up a section but it would be nice if someone who knows what they are doing could check my work.

[2022-01-18 19:44] HenrikBengtsson commented on #61
I agree, we should have a section, or possibly a page, on how to do array jobs in Slurm. Yes, I'm happy to review. I don't have anything ready for this, and honestly, I haven't had to use them for Slurm.  The sale pitch is that it allows the user to re-use the same job script for lots of jobs, instead of copy-edit-save the same job over and over again.  FWIW, the <https://ucsf-c4.slack.com/archive

[2022-02-10 21:19] hgputnam opened #62 "How to include images"
@HenrikBengtsson - any advice for where to put image files? Should I make a docs/images folder for the entire site? Or should I make a folder for each menu section (eg howto/images). Or something else? Any spacing or formatting rules around images?

[2022-02-11 22:45] hgputnam opened #63 "Previews for OnDemand and RStudio pages are up"
RStudio https://www.c4.ucsf.edu/howto/rstudio-server-2.html
OnDemand: https://www.c4.ucsf.edu/howto/openondemand.html

[2022-02-11 22:46] hgputnam commented on #63
I still need to do one for Jupyter. I suspect that one will change a lot as I get feedback from beta testers. I am not really capable of testing that right now (not a python expert)...

[2022-02-11 23:33] HenrikBengtsson commented on #63
Let's start with copy-editing:

* [x] Capitalization (cough cough), e.g. Rstudio, r, rstudio server, ...
* [x] Lack of inline code Markdown markup, e.g. 'Equivalent to –ntasks in sbatch.' -> Equivalent to `–ntasks` for `sbatch`.
* [x] Step2 -> Step 2, etc.
* [x] GB -> GiB
* [x] `--mem 16g`, ..., `--mem 32g` -> `--mem 32G`
* [x] Spelling, cf. https://github.com/UCSF-CBI/c4/actions
* [x] Ctrl-C -> `

[2022-02-11 23:39] hgputnam commented on #63
It was a pretty huge pain in the neck to put those images in. I am not in love with them in any way. I thought that was what we needed for a GUI product. Example of regeneration problem you mention - I already fixed a bunch of the Capitalization, GB, on the *real* froms but of course never updated the images.

If you are cool with no images I will take them all out.

[2022-02-11 23:39] hgputnam commented on #63
Also, it is RStudio right?

[2022-02-11 23:42] hgputnam commented on #63
And, to be fair, I did ask #62

[2022-02-11 23:49] HenrikBengtsson commented on #63
Yes, I saw. I just haven't had the time.

What I think we could benefit from is to have a C4 _blog_ where one can write up longer walk-throughs. The advantage with that is that they are dated and are allowed to become old and obsolete over time. In contrast, the website is _the documentation_, so it has to be up-to-date and any discrepancies and errors have to be fixed asap, otherwise the user can

[2022-02-11 23:53] HenrikBengtsson commented on #63
Regarding going live, I think we shouldn't rush it. Let's have a few advanced users use it first to sort out the wrinkles. I'm sure there are plenty and as we learned these last two weeks there are still to be improved.  I would also suggest to hold back on Jupyter, and just go live with the RStudio Server.  From that, we'll learn more things that we can apply to Jupyter, which I also have not had

[2022-02-12 00:00] hgputnam commented on #63
Yeah, I totally get your point about the docs and the images getting stale (which they already are). We just have to fact the fact that I am an awful technical writer. I do not enjoy it one bit and yes, I do tend to rush it (just to get it over with) and I make even more mistakes than normal. I can only type like 20 word/minute...

So, I was planning to use these to hand off to the beta testers. I

[2022-02-12 00:09] HenrikBengtsson commented on #63
Sounds like a good plan.  I wouldn't call the images "stupid".  The one showing the OnDemand RStudio being available, helps communicate what to expect and probably is more appealing and selling than plain text.  I think you write well.

[2022-02-15 20:04] HenrikBengtsson commented on #63
@hgputnam, since we now got beta-tester eyes on it, don't forget to fix up the remaining documentation issues: https://github.com/UCSF-CBI/c4/issues/63#issuecomment-1036765306.  We want to spare them from having to re-report these issues too.

[2022-02-15 21:04] hgputnam commented on #63
These are cleaned up to the point they get past make check. I *think* I have incorporated your formatting advice:

https://www.c4.ucsf.edu/howto/openondemand.html
https://www.c4.ucsf.edu/howto/rstudio-server-2.html
https://www.c4.ucsf.edu/howto/jupyter-notebooks.html

[2022-02-15 22:45] HenrikBengtsson commented on #63
Nope, none of my comments (https://github.com/UCSF-CBI/c4/issues/63#issuecomment-1036765306) have been addressed. I've attached a PDF where I highlight what I'm referring to.

[UCSF C4 Cluster.pdf](https://github.com/UCSF-CBI/c4/files/8075215/UCSF.C4.Cluster.pdf)

[2022-02-15 23:16] hgputnam commented on #63
9 millionth attempts are up.

[2022-02-15 23:23] HenrikBengtsson commented on #63
Thanks

[2022-02-16 16:53] HenrikBengtsson commented on #63
I did some tidy of the RStudio Server page (https://www.c4.ucsf.edu/howto/rstudio-server-2.html).

My gut feeling is that, after you've now harmonized the OnDemand configuration, the sections for running RStudio, Jupyter, Desktop, ... via OnDemand will be very similar, i.e. there's a lot of redundant information across these pages.  My suggestion would be to

* [x] Have a single OnDemand (https://

[2022-02-17 19:42] hgputnam opened #64 "Add section to howto-->globus"
Add steps to create and share a guest collections.

[2022-02-17 20:11] HenrikBengtsson commented on #64
https://github.com/UCSF-HPC/wynton/blob/master/docs/transfers/globus-sharing.md

[2022-03-08 15:12] HenrikBengtsson opened #65 "SPECS: Compute nodes now have same software & libraries as dev nodes"
Update https://www.c4.ucsf.edu/about/specs.html#summary-of-compute-environment accordingly.

[2022-03-11 16:17] HenrikBengtsson opened #66 "Make it possible to render software repository pages on GitHub Actions"
# Issue

Currently, the page generation of module repositories is done "live", i.e. the script calls `spider ...` when it renders the page;

https://github.com/UCSF-CBI/c4/blob/b8875b004adc918c7c28f7f6db5d99b923c32be4/docs/software/R/lmod.R#L52-L59

This prevents us from rendering the page outside of the cluster, e.g. on a local notebook or on GitHub Pages.

# Suggestions

To fix this, we can:

1.

[2022-03-12 05:15] HenrikBengtsson commented on #66
Remaining task:

* [ ] store the 'module show` data on file too

[2022-03-22 18:07] HenrikBengtsson opened #67 "R: How to install udunits2 (>= 0.13.2.1)"
A new version of orphaned **udunits2** (https://cran.r-project.org/package=udunits2) was released causing this package to no longer install out of the box;

[code]

Our `r` module sets:

[code]

[2022-03-22 18:12] HenrikBengtsson commented on #67
Setting:

[code]

is not sufficient.  Still the same error, despite:

[code]

[2022-03-22 18:14] HenrikBengtsson commented on #67
It looks like `UDUNITS2_LIB` is now ignored. Using:

[code]

works.

[2022-03-22 18:28] #67 closed, assigned to nobody

[2022-04-08 02:46] HenrikBengtsson commented on #63
FWIW,

* [x] I've deprecated the old 'Work with RStudio Server' page (https://www.c4.ucsf.edu/howto/rstudio-server.html) that uses Singularity, and replaced it with a new 'Work with RStudio' (https://www.c4.ucsf.edu/howto/rstudio.html) that shows how to run the RStudio Desktop (X11) and RStudio Server (`rsc`) on a _dev_ node.

This new page does not mention the third OnDemand alternative. I still

[2022-05-25 17:03] hgputnam opened #68 "make check not working for me"
Sorry, If forget how this was supposed to be set up. I am missing something on my Ubuntu 20 workstation:

[code]

What do  I need for the spelling check again?

[2022-05-25 17:08] HenrikBengtsson commented on #68
See https://github.com/UCSF-CBI/c4#spell-checking

[2022-07-26 06:20] HenrikBengtsson opened #69 "OnDemand: Add 'Troubleshoot' section"
Add a 'Troubleshoot' section to https://www.c4.ucsf.edu/howto/ondemand.html with information on how to access OnDemand session log output, how to report errors (e.g. include log output), ...

[2022-07-28 15:48] hgputnam commented on #69
Good idea, I find myself typing the same sentences on Slack quite a few times...

[2022-08-03 01:42] dgoekbuget opened #70 "Higlass remote integration to c4"
Hi,

I was wondering if the c4 cluster has a SOP for using higlass remotely similar to how we can use R studio?
https://docs.higlass.io/higlass_docker.html
I think it would be helpful to have at least one good way to visualize HiC data using the cluster.
Best,

Deniz

[2022-08-03 14:22] hgputnam commented on #70
Hi Deniz - We have to be very strategic about which platforms we support in this way with OnDemand, rstudio-server-controller, etc. because we have very limited staff to support the cluster. We cannot take on any new Rstudio grade projects. Having said that, you are certainly free to make higlass work yourself. Docker is not allowed on C4 since it requires root access but if you can convert the do

[2022-08-03 17:55] #70 closed, assigned to nobody

[2022-10-12 08:00] HenrikBengtsson commented on #30
Expired; it's been awhile since we moved from TIPCC and there has been zero questions about Torque-to-Slurm migration. So, there's no need to add docs for this.

[2022-10-12 08:00] #30 closed, assigned to nobody